.icon-img {
  height: 240px;
}

.icon {
  text-align: center;
  display: block;
}
.price {
  text-align: center;
}

.showMore {
  height: 260px;
  overflow: hidden;
}

.offers {
  font-family: sans-serif;
  margin-bottom: 100px;
}

.table-tr {
  margin-bottom: 15px;
  padding: 40px;
}
